@font-face {
font-family: "Florencesans Exp Bold";
src: url('http://shop/catalog/view/theme/default/fonts/FlorencesansSCExpBold.ttf');
}
@font-face {
font-family: "Ornitons Light";
src: url('http://shop/catalog/view/theme/default/fonts/OrnitonsSerial-Light.ttf');
}
@font-face {
font-family: "Pakenham XP BLK";
src: url('http://shop/catalog/view/theme/default/fonts/PakenhamXpBlk.ttf');
}
@font-face {
font-family: "Florida Bold";
src: url('http://shop/catalog/view/theme/default/fonts/FloridaSerial-Bold.ttf');
}
@font-face {
font-family: "Ultimate Serial";
src: url('http://shop/catalog/view/theme/default/fonts/UltimateSerial-Regular.ttf');
}
@font-face {
font-family: "Plymouth Serial";
src: url('http://shop/catalog/view/theme/default/fonts/PlymouthSerial-Light.ttf');
}
@font-face {
font-family: "Avante1";
src: url('http://shop/catalog/view/theme/default/fonts/49AVANTE_B.ttf');
}
@font-face {
font-family: "Gladatur Rum";
src: url('http://shop/catalog/view/theme/default/fonts/gladaturrum.ttf');
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
a.my-remove-btn {

	position: absolute;
	right: 7px;
	top: 5px;
	
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 15px 0 10px 0;
}
#logo img{
	margin: auto;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu {
			width: 100%;
		}
	}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
	@media (max-width: 478px) {
		#cart .dropdown-menu li > div {
			min-width: 100%;
		}
	}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
header {

margin-bottom: 23px;

}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 80%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}

a.gradient.brown_visor {

background: linear-gradient(to top, #fff 80%, brown 100%);

}

a.gradient.grey_visor {

background: linear-gradient(to top, #fff 80%, grey 100%);

}

a.gradient.green_tone {

background-color: green;

}

a.gradient.green_tone.green_visor {

background: linear-gradient(to top, green 80%, green 100%);

}

a.gradient.green_tone.grey_visor {

background: linear-gradient(to top, green 80%, grey 100%);

}

a.gradient.green_tone.blue_visor {

background: linear-gradient(to top, green 80%, blue 100%);

}

a.gradient.bronze_tone.brown_visor {

background: linear-gradient(to top, brown 80%, brown 100%);

}

.thumbnail.gradient > img {
	width: 80%;
	opacity: .5;
}
.thumbnail_mini {

display:block;

}
.thumbnail_mini.gradient>img {

opacity: .5;

}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}
.filter_category {
	margin-bottom: 20px;
}
.span5 {
	width: 45%;
	float: left;
}
.span7 {
	width: 54%;
	float: left;
}
.filter_category label {
	font-size: 14px;
}
.filter_category .form-control {
	width: 220px;
	display: inline-block;
	margin-left: 10px;
}
.skladis_table {
	width: 100%;
}
.skladis_table td {
	padding: 8px 5px 3px 5px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.skladis_table th {
	padding: 3px 5px;
}
.skladis_table td:first-child {
	/*padding-left: 0px;*/
}
.product-list-header {
	background: #c0c0c0;
	font-size: 15px;
	padding: 10px 15px;
	width: 100%;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.product-list-header a {
	color: #000;
}
.product-list-header a:hover {
	text-decoration: underline;
}
.product-list-body {
	margin-bottom: 33px;
}
.product-list-body table {
	width: 100%;
	color: #000;
}
.product-list-body table tr th {
	border: 1px solid #c0c0c0;
	padding: 8px 4px;
	font-size: 13px;
}
.product-list-body table tr td {
	border: 1px solid #c0c0c0;
	padding: 0px 4px;
	font-size: 13px;
}
.col-list-1 {
	width: 20%;
	min-width: 110px;
	text-align: center;
}
.col-list-1 img {
	display: inline-block;
}
.col-list-2 {
	width: 50%;
}
.col-list-3 {
	width: 15%;
}
.col-list-4 {
	width: 15%;
}
.blik5_filter_block {
	margin-bottom: 10px;
}
.blik5_filter_block .blik5_filter_block_header {
	color: #000;
	font-size: 16px;
	text-decoration: underline;
	position: relative;
	height: 43px;
	line-height: 43px;
	border: 1px solid #797979;
	background: #e4e4e4;
	padding-left: 18px;
}
.blik5_filter_block .blik5_filter_block_header_change {
	color: #000;
	font-size: 13px;
	text-decoration: underline;
	position: absolute;
	height: 43px;
	line-height: 43px;
	right: 13px;
	top: 0px;
	cursor: pointer;
}
.blik5_filter_block .blik5_filter_block_content {
	/*border: 1px solid #797979;
	border-top: none;*/
	padding-top: 20px;
    padding-bottom: 20px;
	display: none;
}
.blik5_filter_block .blik5_filter_block_content select {
	width: 280px;
	display: inline-block;
	margin-left: 10px;
}
.blik5_options {
	overflow: hidden;
}
.blik5_options .blik5_option {
	/*display: inline-block;
    width: 45%;
    border: 1px solid #797979;
    margin-right: 9%;
	vertical-align: top;*/
}
.blik5_options .selected .blik5_option_header {
	background: #eee;
}
.blik5_options .selected .blik5_option_inner {
	background: #eee;
}
.blik5_options .selected{
    background: #eee;
}
.blik5_options .blik5_option:nth-child(2n) {
	margin-right: 0;
}
.blik5_options .blik5_option .blik5_option_header {
    border-bottom: 1px solid #797979;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-weight: bold;
}
.blik5_options .blik5_option .blik5_option_inner {
	overflow: hidden;
}
.blik5_options .blik5_option .blik5_option_inner_image {
	/*float: left;*/
	/*margin: 10px 20px 10px 10px;*/
}
.blik5_options .blik5_option .blik5_option_inner_options {
	padding-top: 10px;
}
.blik5_options .blik5_option .filter5_select_option {
	text-align: right;
    text-decoration: underline;
    margin-right: 10px;
    font-size: 14px;
	cursor: pointer;
}
.filter5_select_option_select {
	cursor: pointer;
}
.blik5_products_inner {
	/*padding: 20px;
	border: 1px solid #797979;
	margin-bottom: 20px;*/
}
.blik5_products .blik5_product {
	/*border: 1px solid #797979;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.blik5_products .blik5_product_header {



	background: #f2f2f2;
	border-bottom: 1px solid #DDDDDD;
	height: 37px;
	line-height: 37px;
	text-align: center;
}
.blik5_products .blik5_product_header a {
	color: #666;
	font-weight: bold;
}
.blik5_products .blik5_product_inner {
	overflow: hidden;
}
.blik5_products .blik5_product_inner .blik5_product_inner_image {
	float: left;
	/*margin-left: 50px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}
.blik5_products .blik5_product_inner .blik5_product_inner_options {
	width: 50%;
	float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.blik5_products .blik5_product_inner .blik5_product_inner_right {
	float: right;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.blik5_product_inner_right_price span {
	font-size: 16px;
	font-weight: bold;
}
.blik5_button_buy  {
	margin-left: 5px;
	float: right;
}
.blik5_div_buttons {

margin-top: 10px;

}
table.warehouse {
	width: 100%;
	border-collapse: collapse;
}
table.warehouse th, table.warehouse td {
	background: #f2f2f2;
	color: black;
	padding: 10px 20px;
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	text-align: center;
}
table.table.table-bordered td.remove {

	position: relative;
	padding-right: 40px;

}
.home_categories {
	overflow: hidden;
	margin-top: 20px;
}
.home_categories .home_category {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 4%;
	text-align: center;
	border: 1px solid #797979;
	margin-bottom: 30px;
}
.home_categories .home_category:nth-child(3n) {
	margin-right: 0;
}
.home_categories .home_category>div {
	margin-top: 10px;
}
.home_categories .home_category>div>a {
	font-size: 15px;
}
.header_phone {
	margin-top: 10px;
    font-size: 26px;
    color: #000;
    margin-bottom: 15px;
}
.formym_images {
	margin-top: 20px;
}
.formym_images .formym_element {
	/*display: inline-block;
    width: 30%;
    margin-right: 4%;
    vertical-align: top;*/
	text-align: center;
	/*margin-bottom: 20px;*/
	cursor: pointer;
}
.formym_images .formym_element:nth-child(3n) {
    margin-right: 0px;
}
.formym_images .formym_element>div {
    font-size: 16px;
	margin-top: 10px;
    font-weight: bold;
}

#header_town>a {
font-size: 1.5em;
color: #00BFFF;
text-decoration: none;
}

#towns {
	display: none;
	list-style: none;
	width: 195px;
	padding: 0;
	position: absolute;
	background-color: #FFFFFF;
	z-index: 100;
	border: 1px solid #DDDDDD;
}
	
#towns>li>a {
	font-size: 1.3em;
	display: block;
	width: 100%;
	color: #00BFFF;
}

#towns>li>a:hover {
	color: #FFFFFF;
	background-color: #00BFFF;
}
.white-popup {
	width: 400px;
    padding: 20px;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -200px;
    position: absolute;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	z-index: 3;
}
.white-popup-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
.white-town {
	text-decoration: underline;
	cursor: pointer;
}
.white-town:hover {
	text-decoration: none;
}
.blik5_button_buy .fa-shopping-cart {
	line-height: 17px;
    vertical-align: middle;
}
.addtocart_span {
	margin-left: 6px;
}
.alert-success-top {
	position: fixed;
    z-index: 1000;
	width: 1140px;
	top: 10px;
}
@media (max-width: 1199px)
{
.alert-success-top {
    width: 940px;
}
}
@media (max-width: 991px)
{
.alert-success-top {
    width: 720px;
}
}

@media (max-width: 767px)
{
.alert-success-top {
    width: 96%;
}
}
.info-btn-class {
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
	font-size: 12px!important;
}
.info_td {
    background: #5bc0de;
	color: #fff;
}
.product_div_price {
	margin-top: 10px;
}
.product_div_price span {
	font-size: 27px;
	position: relative;
}
.product_div_price.standart span {
	left: 65px;
}
.product_div_price.opt span {
	left: 13px;
}
.product_div_price.ust span {
}
.show_also_skladis_button {
	margin-bottom: 10px;
	cursor: pointer;
	color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
	padding: 6px 20px;
	display: inline-block;
	margin-top: 4px;
}
.raznie_categories {
	margin-bottom: 20px;
}
.raznie_categories .raznie_categories_header {
	font-size: 14px;
}
.raznie_categories select {
    color: #333;
    background-color: #fff;
    border-color: #e3e3e3;
	font-size: 13px;
	padding: 4px;
}
.mycat {
    text-align: center;
}
.mynav {
    padding: 5px 0;
    min-height: 40px;
}
.mynav2 {
    margin-bottom: 20px;
}